
html {
  box-sizing: border-box;
  font-size: 16px;
}

body {
  margin: 3rem auto;
  line-height: 1.5;
  max-width: 600px;
}

html, body, p, button, input {
  font-family: "Inter", sans-serif;
}

code {
  background-color: lightgray;
  padding: 3px;
}

@keyframes fadein{
  from{
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

h1 {
  display: flex;
  font-size: 30px;
  text-align: center;
  justify-content: center;
  font-family: "Instrument Sans", sans-serif;
}
#subheader {
  display: flex;
  font-size: 14;
  text-align: center;
  justify-content: center;
}

h1 div{
  opacity: 0;
  padding-right: 10px;
  animation: fadein 2s forwards ease-in-out;
  font-family: inherit;
}
#subheader div{
  opacity: 0;
  padding-right: 5px;
  animation: fadein 2s forwards ease-in-out;
}
@keyframes line{
  from{
    width: 0%;
  } to {
    width: 100%;
  }
}
hr {
  width: 0%;
  border: none;
  display: block;
  background-color: black;
  border-radius: 30px;
  height: 2px;
  animation: line 2s forwards 2.4s ease-in-out;
}
.line2{
  width: 0%;
  background-color: black;
  border-radius: 30px;
  height: 2px;
  animation: line 2s forwards 1s ease-in-out;
}
h1 div:nth-child(1) {animation-delay: 0.2s;}
h1 div:nth-child(2) {animation-delay: 0.5s;}
h1 div:nth-child(3) {animation-delay: 0.8s;}
h1 div:nth-child(4) {animation-delay: 1s;}
#subheader div:nth-child(1) {animation-delay: 1.2s;}
#subheader div:nth-child(2) {animation-delay: 1.5s;}
#subheader div:nth-child(3) {animation-delay: 1.8s;}
#subheader div:nth-child(4) {animation-delay: 2s;}

.ExampleDiv {
  background-color: #90b6df;
  width: 150px;
  height: 50px;
  text-align: center;
  margin: 10px;
}

@keyframes spin{
  0%{
    transform: rotate(0deg);
  }
  30%{
    transform: rotate(360deg);
  }
  60%{
    transform: rotate(0deg);
  }
}

@keyframes shadowplay{
  0%{
     box-shadow: 3px 2px 2px 1px rgb(0 0 0 / 40%);
  }
  30%{
    box-shadow: 6px 6px 6px 2px rgb(0 0 0 / 40%);
  }
  60%{
    box-shadow: 8px 8px 8px 2px rgb(0 0 0 / 40%);
  }
  100%{
    box-shadow: 3px 2px 2px 1px rgb(0 0 0 / 40%);
  }
}
.spin:hover{
  animation: 3s spin forwards ease-in-out;
  transform: rotate(0deg);
}
.spin2:hover{
  animation: 1s shadowplay forwards ;
  transform: rotate(0deg);
}
.button-holder{
  color: black;
  text-decoration: none;
  justify-content: center;
  display: flex;
  opacity: 0;
  animation: fadein 1s forwards 2.5s ease-in-out;
}
a {
  color: black;
  text-decoration: none;
}
.navbutton{
  color: black;
  transition: color 1s ease-in-out;
  
}

.navbutton:hover{
  color: white;
}
#main-description{
  opacity: 0;
  animation: fadein 2s 3s forwards ease-in-out;
}
.home{
  padding: 3px;
  background-color: #90b6df;
  border-radius: 4px;
}

.navbutton p, .ExampleDiv p{
  margin: 0 auto;
}