@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Space+Mono&display=swap");

body {
  max-width: 900px;
  margin: 2em auto;
}

.toc-list * {
  font-size: 16px;
}

.toc-list li {
  display: flex;
  gap: 5px;
  flex-direction: column;
}

.toc-list ::marker {
  display: none;
  content: " ";
}
ol.toc-list:first-child {
  padding-left: 0px;
}
.toc-list a {
  text-decoration: all;
  color: black;
}
.toc-list a:not(.is-active-link, a:hover) {
  text-decoration: none;
  opacity: 0.7;
}
article {
  flex-direction: column;
  justify-content: left;
  align-items: start;
  display: flex;
  gap: 10px;
  width: fit-content;
  border: none;
  flex-direction: row;
  width: 100%;
}
aside {
  max-width: 300px;
  position: sticky!important;
  top: 30px;
  display: flex;
  gap: 10px;
  flex-direction: column;
  width: 100%;
}
main {
  max-width: 600px;
  display: block;
  width: 100%;
}

@media (max-width: 600px) {
  article {
    flex-direction: column;
    justify-content: left;
    align-items: start;
  }
  aside,
  main {
    max-width: calc(100% - 40px) !important;
    width: 100% !important;
  }
  aside {
    position: relative !important;
  }
}

.title,
.title * {
  font-family: "Instrument Serif", sans-serif;
  font-size: 20px;
  margin-bottom: 0px;
  font-weight: 300;
}

/******* DDSTYLE ********/

:root {
  --primary: #1a73e8;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
  background-color: #f8f8f82e;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Inter, sans-serif;
  color: black;
}

h1 {
  font-size: 2.5em;
  font-weight: 700;
  line-height: 1.3em;
}
p {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 27px;
  color: #28343c;
}

a {
  color: var(--primary);
  text-decoration-thickness: 1.3px;
}

a:hover {
  text-decoration: none;
}

a:focus-visible {
  background-color: var(--primary);
  color: white;
  text-decoration: none;
}

li {
  margin-bottom: 4px;
}

li::marker {
  color: #313131;
}

code,
pre {
  font-family: "Space Mono", Consolas, monospace;
}

code {
  padding: 0px 8px;
  border-radius: 3px;
  background-color: #d81b600f;
  display: inline-block;
  margin-top: 3px;
  color: #d81b60;
  font-size: 16px;
}

pre code {
  color: white;
}

blockquote {
  border-left: 4px solid #edf0f3;
  margin-left: 0px;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #415462;
}

blockquote footer {
  color: #73828c;
}

del {
  color: #c62828;
}

ins {
  color: #388e3c;
  text-decoration: none;
}

mark {
  padding: 0.125rem 0.25rem;
  background-color: #fff2ca;
  color: #543a26;
  vertical-align: baseline;
}

hr {
  border: none;
}

hr::after {
  content: "***";
  text-align: center;
  width: 100%;
  display: block;
  font-size: 40px;
  color: #9c9c9c;
  margin-top: 10px;
}

details {
  display: block;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #edf0f3;
}
details summary {
  line-height: 1rem;
  list-style-type: none;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  color: #28343c;
}
details summary:not([role]) {
  color: #28343c;
}
details summary::-webkit-details-marker {
  display: none;
}
details summary::marker {
  display: none;
}
details summary::-moz-list-bullet {
  list-style-type: none;
}
details summary::after {
  display: block;
  width: 1rem;
  height: 1rem;
  margin-inline-start: calc(1rem * 0.5);
  float: right;
  transform: rotate(-90deg);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(65, 84, 98)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-position: right center;
  background-size: 1rem auto;
  background-repeat: no-repeat;
  content: "";
  transition: transform 0.2s ease-in-out;
}
details summary:focus {
  outline: none;
}
details summary:focus:not([role="button"]) {
  color: #28343c;
}
details summary[role="button"] {
  width: 100%;
  text-align: left;
}
details summary[role="button"]::after {
  height: calc(1rem * 1.5);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='rgb(255, 255, 255)' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
}
details[open] > summary {
  margin-bottom: 1rem;
}
details[open] > summary:not([role]):not(:focus) {
  color: #73828c;
}
details[open] > summary::after {
  transform: rotate(0);
}

dl {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
dt {
  margin-left: 10px;
  margin-top: 5px;
}
dd {
  margin-top: -5px;
  opacity: 0.9;
}
dd::before {
  content: " ";
  transform: rotate(90deg) scaleX(-1);
  background: url("https://api.iconify.design/solar/arrow-to-top-right-bold.svg")
    no-repeat center center / contain;
  width: 20px;
  height: 20px;
  display: inline-block;
  margin-bottom: -5px;
  margin-right: 5px;
}

img,
video {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
}

table {
  border-collapse: collapse;
  margin: 1.5rem 0;
  width: 100%;
}

td,
th {
  border: 1px solid rgba(0, 0, 0, 0.04);
  text-align: start;
  padding: 0.5rem;
}

th {
  background-color: #00000003;
  font-weight: bold;
  text-align: center;
}

tr:nth-child(even) {
  background-color: #00000003;
}

table caption {
  opacity: 0.9;
  max-width: 500px;
  margin: 1em auto;
}

figure {
  margin: 0;
  display: block;
  overflow-x: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

figcaption {
  text-align: center;
  font-size: 0.9rem;
  color: #585858;
  margin-bottom: 1rem;
}

kbd {
  color: #444;
  border: 1px solid #444;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(68, 68, 68);
  border-bottom: 3px solid #444;
  border-radius: 5px;
  padding: 0.1rem 0.4rem;
}

pre {
  background-color: #262626;
  border-radius: 5px;
  border: none;
  padding: 15px;
  font-size: 16.3px;
  letter-spacing: 0.5px;
  word-break: break-all;
  color: white;
  text-align: left;
}

figure pre {
  width: fit-content;
}

button,
select,
input[type="submit"],
input[type="button"],
input[type="checkbox"],
input[type="range"],
input[type="radio"] {
  cursor: pointer;
}

button:not(.unstyled *) {
  background-color: #405cf5;
  border-radius: 6px;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  color: #fff;
  cursor: pointer;
  font-family: Inter, sans-serif;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  padding: 0 25px;
  text-align: center;
  font-size: 16px;
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
}

button:not(.unstyled *):disabled {
  cursor: default;
}

button:not(.unstyled *):focus {
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset,
    rgba(50, 50, 93, 0.2) 0 6px 15px 0, rgba(0, 0, 0, 0.1) 0 2px 2px 0,
    rgba(50, 151, 211, 0.3) 0 0 0 4px;
}

button:not(.unstyled *):disabled,
button:not(.unstyled *)[disabled] {
  box-shadow: none;
  border: 1px solid #dddddd;
  cursor: initial;
  opacity: 0.55;
}

label {
  font-size: 17px;
  color: #3a3a3a;
}

input {
  font-size: 1em;
  background-color: #fcfcfc;
  border: 1px solid #dddddd;
  color: #1c1d1e;
  margin: 6px 0px;
  padding: 11px;
  border-radius: 8px;
  outline: none;
  display: inline-block;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  vertical-align: middle;
  position: relative;
  margin-right: 0.33em;
  margin-top: 0.31em;
}

input[type="checkbox"] {
  border-radius: 8px;
}

input[type="radio"] {
  border-radius: 100%;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  border: 1px solid var(--primary);
  background: var(--primary);
}

input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3.5' d='M6 10l3 3l6-6'/%3e%3c/svg%3e");
}

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%23fff'/%3e%3c/svg%3e");
}

input[type="range"] {
  vertical-align: middle;
  padding: 0;
}

input:not([type="radio"], [type="range"], [type="checkbox"], [type="button"], [type="submit"]),
textarea {
  width: 100%;
  font-family: Inter, sans-serif;
  display: block;
}

textarea {
  font-family: inherit;
  font-size: 1em;
  background-color: #fcfcfc;
  border: 1px solid #dddddd;
  padding: 11px;
  color: #1c1d1e;
  border-radius: 8px;
  outline: none;
  resize: vertical;
  max-width: 100%;
  width: 100%;
  margin: 6px 0px;
}

select {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  color: #1c1d1e;
  padding: 0.6em 2em 0.5em 0.8em;
  margin: 6px 0px;
  max-width: fit-content;
  box-sizing: border-box;
  border: 1px solid #dddddd;
  box-shadow: 0 1px 0 1px rgba(0, 0, 0, 0.04);
  border-radius: 0.5em;
  appearance: none;
  background-color: #fcfcfc;
  background-image: var(--select-icon-url);
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  width: 100%;
}

/* Todo: update styles when using multiple mode */
select:is([multiple]) {
  background: none;
  height: fit-content;
}

input:focus-within,
textarea:focus-within,
select:focus-within {
  border-color: #b8b8b8;
}

input:hover,
textarea:hover,
select:hover {
  border-color: #b8b8b8;
}

fieldset {
  border-radius: 8px;
  border: 1.2px solid #dddd;
  background-color: white;
}

footer {
  background-color: #f5f5f599;
  margin-bottom: -17px;
  padding: 20px;
}

footer > * {
  max-width: 600px;
  margin: 20px auto;
}
